{% extends "layouts/base.html" %}

{% block title %} Datos de {{company.name}} {% endblock title %}

<!-- Specific CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="row gap-20 masonry pos-r">
        <div class="masonry-sizer col-md-2"></div>
        <div class="masonry-item col-md-2">
        </div>
        <div class="masonry-item col-md-8">
        <div class="bgc-white p-20 bd">
        <h3 class="c-grey-900">Informacion empresarial</h3>
            
            <form method='POST' action="{% url 'actucompany' %}">{% csrf_token %}
            <div class="row">
                <div class="mx-auto mb-3" style="height: 150px; width: 150px;">
                                <div class="card h-100 overflow-hidden">
                                    <div class="position-relative h-100">
                                        
                                        
                                        <input type="file" class="custom-file-input position-absolute " style="height: 150px; width: 150px;" id="validatedCustomFile" required></input>
                                        <img class="card-img-top" id="create-company-img" src="{{company.imageurl}}" alt="company Img">
                                        
                                    </div>
                                </div>
                            </div>
                
                <div class="row">
                    <div class="col-md-12 ">
                        <h3 class="c-grey-900">{{company.name}}</h3>
                    </div>
                    <div class="col-md-12">
                        <h5> NIT.{{company.nit}}</h5>
                    </div>
                    <div class="form-group col-md-12">
                        <label for="inputEmail4">Dirección</label>
                        <input type="text" class="form-control" name="nombre" value="{{company.address}}"></input>
                    </div>
                </div>
            </div>
            <hr size="100" />
            <div class="mT-30">
                <h3 class="c-grey-900">Informacion de contacto</h3>
                <div class="form-row">
                
                <div class="form-group col-md-6">
                    <label for="numero">Nombre</label>
                    <input type="text" class="form-control" name="numero" value="{{company.contactname}}">
                </div>
                <div class="form-group col-md-6">
                    <label for="numero">Numero de Teléfono</label>
                    <input type="text" class="form-control" name="numero" value="{{company.contactphone}}">
                </div>
                </div>
                <div class="form-group">
                <label for="inputAddress">Correo electrónico</label>
                <input type="email" class="form-control" name="correo" value="{{company.contactemail}}">
                </div>
                <div class="form-group">
                <label for="inputAddress2">Estado</label>
                
                <select name="company" class="form-control">
                    {% for estado in estados %}
                        
                        {% ifequal  estado.statuscompanyid company.statuscompany_statuscompanyid.statuscompanyid%}
                            <option selected="selected">{{estado.name}}</option>
                        {% else %}
                            
                            <option >{{estado.name}}</option>
                        {% endifequal%}
                    {% endfor %}
                    </select>
                </div>
                <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputCity">Tipo</label>
                    <select name="rol" class="form-control">
                    {% for tipo in tipos %}
                        
                        {% ifequal  tipo.idcompanytype company.companytype.idcompanytype%}
                            <option selected="selected">{{tipo.companytypedescription}}</option>
                        {% else %}
                            <option >{{tipo.companytypedescription}}</option>
                        {% endifequal%}
                    {% endfor %}
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label for="inputState">Tipo formulario APP</label>
                    <select name="status" class="form-control">
                    {% for formulario in formularios %}
                        
                        {% ifequal  formulario.idappformulary company.appformularyid.idappformulary%}
                            <option selected="selected">{{formulario.appformularydescription}}</option>
                        {% else %}
                            
                            <option >{{formulario.appformularydescription}}</option>
                        {% endifequal%}
                    {% endfor %}
                    </select>
                    
                </div>

                </div>
                <div class="form-group">
                    <hr size="100" />
                    <h3 class="c-grey-900">Información legal</h3>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="validatedCustomFile" required>
                        <label class="custom-file-label" for="validatedCustomFile">Rut_Innlab.pdf</label>
                    <div class="invalid-feedback">Example invalid custom file feedback</div>
                    </div>
                    
                    <hr size="100" />
                    
                    <h3 class="c-grey-900">Valor domicilio</h3>
                    <label class="mb-3 w-100 has-float-label">
                                <input type="number" class="form-control valid" name="DeliveryValue" id="DeliveryValue" placeholder="Ingresar Valor" aria-invalid="false" >

                                <span>Valor Domicilio</span>
                            </label>
                </div>
                
                <input type="hidden" name="iduser" value="{{usuario.userid}}">
                <button type="submit" class="btn-custom">Guardar</button>
            </form>
            </div>
        </div>
        </div>
        
    </div>
    {% comment %} {% load log %}
    {% get_admin_log 10 as admin_log for_user user %}
    {% if not admin_log %}
        <p>{% translate 'None available' %}</p>
    {% else %}
        <ul class="actionlist">
        {% for entry in admin_log %}
        <li class="{% if entry.is_addition %}addlink{% endif %}{% if entry.is_change %}changelink{% endif %}{% if entry.is_deletion %}deletelink{% endif %}">
        {% if entry.is_deletion or not entry.get_admin_url %}
            {{ entry.object_repr }}
        {% else %}
            <a href="{{ entry.get_admin_url }}">{{ entry.object_repr }}</a>
        {% endif %}
        <br>
        {% if entry.content_type %}
            <span class="mini quiet">{% filter capfirst %}{{ entry.content_type.name }}{% endfilter %}</span>
        {% else %}
            <span class="mini quiet">{% translate 'Unknown content' %}</span>
        {% endif %}
        </li>
        {% endfor %}
        </ul>
    {% endif %} {% endcomment %}

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
